
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminIndex.cshtml";
}

<div class="container">
    <h3>THỐNG KÊ</h3>
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Thống kê top 10 sản phẩm bán chạy</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Thống kê doanh số<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#tab2" data-toggle="tab">Theo ngày</a></li>
                        <li><a href="#tab3" data-toggle="tab">Theo tháng</a></li>
                        <li><a href="#tab4" data-toggle="tab">Theo năm</a></li>
                        <li><a href="#tab5" data-toggle="tab">Theo quý</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Mã Sản Phẩm</th>
                                <th>Tên Sản Phẩm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i=1;}
                            @foreach (var sp in ViewBag.Top10)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@sp.MaSanPham</td>
                                    <td>@sp.TenSanPham</td>
                                </tr>
                                i++;                              
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab2">Default 2</div>
                <div class="tab-pane fade" id="tab3">Default 3</div>
                <div class="tab-pane fade" id="tab4">Default 4</div>
                <div class="tab-pane fade" id="tab5">Default 5</div>
                
            </div>
        </div>
    </div>
</div>


