@{
    ViewBag.Title = "Contact";
    
;}

<address>
    <br />
    <h1>Phan Thành Sử</h1><br />
    <abbr title="Phone">Phone:</abbr>
    0902.415.027<br />
    0919.35.37.36<br />
    08.68.67.65.14<br />
    0122.8611.793<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>