
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminIndex.cshtml";
}

<div>
    @using (Html.BeginForm("Create", "LoaiSanPham", FormMethod.Post))
    {
        <label>Mã Loại Sản Phẩm:</label>
        <input name="MaLoaiSP" type="text" placeholder="ví dụ: TL" required />
        <label>Tên Sản Phẩm:</label>
        <input name="TenLoaiSanPham" type="text" placeholder="ví dụ: Tên Loại" required />

        <input type="submit" value="Thêm Loại Sản Phẩm" />
    }
</div>