@model IEnumerable<ShopConnection.LoaiSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminIndex.cshtml";
}

<table>
    <tr>
        <th>Mã Loại Sản Phẩm</th>
        <th>Tên Loại Sản Phẩm</th>
        <th style="text-align: center;"><a href="~/Admin/LoaiSanPham/Create"><img src="~/Public/img/Add2.png" style="width: 20px;" /></a></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaLoaiSP</td>
            <td>@item.TenLoaiSanPham</td>
            <td style="text-align: center;">
                <a href="~/Admin/LoaiSanPham/Edit/@item.MaLoaiSP.Trim()"><img src="~/Public/img/edit2.png" style="width: 20px;" title="Sửa" /></a>
                &nbsp;
                @if (item.TinhTrang == 1)
                {
                    <a href="~/Admin/LoaiSanPham/Delete/@item.MaLoaiSP.Trim()"><img src="~/Public/img/un_lock.png" style="width: 20px;" title="Khoá Sản Phẩm" /></a>
                }
                else
                {
                    <a href="~/Admin/LoaiSanPham/UnDelete/@item.MaLoaiSP.Trim()"><img src="~/Public/img/lock.png" style="width: 20px;" title="Mở Khoá Sản Phẩm" /></a>
                }
            </td>
        </tr>
    }
</table>

